:root {
  --bg-color: #18181b;
  --text-color: #fef3c7;
  --dark-text-color: #27272a;
  --tittle-color: #fbbf24;
  --header-bg-color: #e4e4e7;
  --modal-bg-color: #52525b;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  margin: 0;
}

.header {
  position: fixed;
  width: 100%;
  background-image: url(../images/header-pattern.png);
}

.header nav {
  color: var(--dark-text-color);
  font-weight: 800;
  font-size: 1.8rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header nav img {
  margin-left: 2rem;
  width: 72px;
  transition: transform 0.6s ease-in;
}

.header nav img:hover {
  transform: scale(1.1) rotate(360deg);
}

.header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 5rem;
  justify-content: end;
  margin-right: 2rem;
}

.header a {
  text-decoration: none;
  color: var(--dark-text-color);
}

.header a:visited {
  text-decoration: none;
  color: var(--dark-text-color);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.4rem;
  background-image: url(../images/header-pattern.png);
  color: var(--dark-text-color);
  padding: 1.6rem;
  font-size: 2.4rem;
  text-align: center;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer h4 {
  font-size: 2.4rem;
}

.footer h3 {
  font-size: 1.8rem;
}

.footer li {
  font-size: 1.6rem;
}

.card {
  margin: 1rem;
  border: solid 0.5rem var(--tittle-color);
  border-radius: 1rem;
  width: 45rem;
}

.content-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete {
  height: 4rem;
  width: 4rem;
  float: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.delete img {
  width: 4rem;
  object-fit: cover;
}

.edit {
  height: 4rem;
  width: 4rem;
  float: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.edit img {
  width: 4rem;
  object-fit: cover;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

#modal {
  width: 50%;
  display: none;
  position: fixed;
  background: var(--modal-bg-color);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  z-index: 1;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: var(--tittle-color);
  font-size: 2.4rem;
  overflow-y: scroll;
  top: 5rem;
  left:50rem;
  max-height: 70rem;
}

#modal::-webkit-scrollbar {
  width: 1rem;
}

#modal::-webkit-scrollbar-thumb {
  background-color: var(--tittle-color);
  border-radius: 0.4rem;
}

#modal::-webkit-scrollbar-track {
  background-color: var(--modal-bg-color);
}


#modal.active,
#overlay.active {
  display: block;
}

.content {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.content form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content input {
  background-color: transparent;
  border: solid 0.2rem var(--tittle-color);
  border-radius: 0.4rem;
  color: var(--text-color);
  font-family: 'Poppins';
  font-size: 2rem;
  word-wrap: break-all;
}

.area {
  background-color: transparent;
  border: solid 0.2rem var(--tittle-color);
  border-radius: 0.4rem;
  color: var(--text-color);
  font-family: 'Poppins';
  font-size: 2rem;
  resize: none;
  overflow-y: hidden; 
  min-height: 3rem;
  width: 100%;
}

.area:focus {
  outline: none;
  border: solid 0.2rem var(--tittle-color);
}

.content input:focus {
  outline: none;
  border: solid 0.2rem var(--tittle-color);
}

.content button {
  margin-top: 1rem;
  background-color: var(--tittle-color);
  font-family: 'Poppins';
  color: var(--modal-bg-color);
  font-weight: 800;
  font-size: 2.4rem;
  border: solid 0.2rem transparent;
  border-radius: 0.4rem;
}

#close-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3.6rem;
}
.open-modal-btn {
  background-color: transparent;
  border: 0;
}

.open-modal-btn-delete {
  background-color: transparent;
  border: 0;
}

#overlay-delete {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

#modal-delete {
  width: 50%;
  display: none;
  position: fixed;
  background: var(--modal-bg-color);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  z-index: 1;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: var(--tittle-color);
  font-size: 2.4rem;
  overflow-y: scroll;
  top: 5rem;
  left:50rem;
  max-height: 70rem;
}

#modal-delete::-webkit-scrollbar {
  width: 1rem;
}

#modal-delete::-webkit-scrollbar-thumb {
  background-color: var(--tittle-color);
  border-radius: 0.4rem;
}

#modal-delete::-webkit-scrollbar-track {
  background-color: var(--modal-bg-color);
}

#close-btn-delete {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3.6rem;
}

#modal-delete.active,
#overlay-delete.active {
  display: block;
}

.content-delete {
  align-items: center;
}

.text-delete {
  display: flex;
  justify-content: center;
}

.content-delete button {
  margin-top: 1rem;
  background-color: var(--tittle-color);
  font-family: 'Poppins';
  color: var(--modal-bg-color);
  font-weight: 800;
  font-size: 2.4rem;
  border: solid 0.2rem transparent;
  border-radius: 0.4rem;
}