.main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 10rem;
  padding-top: 10rem;
}

.main h1 {
  font-size: 4.8rem;
  color: var(--tittle-color);
}

.main p {
  font-size: 1.8rem;
  text-align: justify;
}

.history {
  height: 15rem;
  overflow-y: scroll;
}